### Import Package

In [86]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder

### Import Dataset

In [79]:
df = pd.read_csv('Downloads/master.csv')

### Melihat Info Dataset

In [80]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27820 entries, 0 to 27819
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   country             27820 non-null  object
 1   year                27820 non-null  int64
 2   sex                 27820 non-null  object
 3   age                 27820 non-null  object
 4   suicides_no         27820 non-null  int64
 5   population          27820 non-null  int64
 6   suicides/100k pop   27820 non-null  float64
 7   country-year        27820 non-null  object
 8   HDI for year        8364 non-null   float64
 9    gdp_for_year ($)   27820 non-null  object
 10  gdp_per_capita ($)  27820 non-null  int64
 11  generation          27820 non-null  object
dtypes: float64(2), int64(4), object(6)
memory usage: 2.5+ MB

### Bagi dataset menjadi training set dan testing set dengan proporsi 70:30

In [35]:
X = df.iloc[:,:-1] 
y = df.iloc[:,-1]

In [36]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [37]:
print(f'Jumlah data training : {len(X_train)}\n',
     f'Jumlah label training : {len(y_train)}\n',
     f'Jumlah data testing : {len(X_test)}\n',
      f'Jumlah label testing : {len(y_test)}',
     )

Jumlah data training : 19474
 Jumlah label training : 19474
 Jumlah data testing : 8346
 Jumlah label testing : 8346

### Lakukan standarisasi pada dataset

#### Standarisasi pada kolom suicides_no

In [38]:
print('Kolom Suicide_no sebelum standarisasi')
dataset_standarisasi = df.copy()
dataset_standarisasi[['suicides_no']]

Kolom Suicide_no sebelum standarisasi

       suicides_no
0               21
1               16
2               14
3                1
4                9
...            ...
27815          107
27816            9
27817           60
27818           44
27819           21

[27820 rows x 1 columns]

In [39]:
print('Kolom Suicide_no setelah standarisasi')
standard_scaler = StandardScaler()
data_standard = standard_scaler.fit_transform(dataset_standarisasi[['suicides_no']])
result_data_standard = pd.DataFrame(data_standard)
result_data_standard

Kolom Suicide_no setelah standarisasi

              0
0     -0.245639
1     -0.251182
2     -0.253400
3     -0.267811
4     -0.258943
...         ...
27815 -0.150299
27816 -0.258943
27817 -0.202404
27818 -0.220141
27819 -0.245639

[27820 rows x 1 columns]

### Lakukan Data cleaning pada data dengan nilai nul

In [57]:
ds = df.copy()

In [58]:
ds

     A    B
0  1.0  NaN
1  2.0  2.0
2  3.0  3.0
3  NaN  4.0
4  5.0  5.0

In [70]:
print("Dataset sebelum di Cleaning")
ds.isna().sum()

Dataset sebelum di Cleaning

A    0
B    1
dtype: int64

In [61]:
ds.dtypes

A    float64
B    float64
dtype: object

In [65]:
mean = SimpleImputer(strategy='mean')

In [71]:
print("Dataset sebelum di Cleaning")
ds['A'] = mean.fit_transform(ds[['A']])
ds.isna().sum()

Dataset sebelum di Cleaning

A    0
B    1
dtype: int64

### Lakukan Data cleaning pada data dengan nilai duplikat.

In [72]:
dp = df.copy()

In [73]:
dp.duplicated().sum()

0

In [74]:
dp = df.copy()
dp.dtypes

A    float64
B    float64
dtype: object

### Mengganti tipe data

In [75]:
dp['B'].astype('float32').dtypes

dtype('float32')

### Lakukan one hot encoding pada dataset yang kalian miliki

In [87]:
OneHotEncoder = OneHotEncoder(sparse=False)
SexEnc = OneHotEncoder.fit_transform(df[["sex"]])
SexEnc = pd.DataFrame(SexEnc)
df["female"] = SexEnc[0]
df["male"] = SexEnc[1]
df.head()

C:\Users\USER\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation,female,male
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X,0.0,1.0
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent,0.0,1.0
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X,1.0,0.0
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation,0.0,1.0
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers,0.0,1.0